@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<User>

@{
    foreach(User n in Model)
    {
        <div>
            <h2>@n.FirstName</h2>
            <h2>@n.FirstName</h2>
            <h2>@n.LastName</h2>
            <h2>>@n.Email</h2>
            <h2>@n.UserName</h2>
        </div>
    }
}
